# Exercices Extra : Preprocessing 

Dans ce Notebook, des exemples de chose pratiques qu'on est souvent amené à faire 
avant de pouvoir analyser de manière appropriée nous données

## Nettoyage : Ajuster les noms des colonnes

Parfois les colonnes dans nos données ont de noms qui soient représentatifs (ou faciles à comprendre). Il arrive même que certains noms de colonnes comportent des "*erreurs*" (des caractères spéciaux, des espaces, etc.). 

On peut modifier les noms des colonnes d'un **DataFrame** facilement.

Afin d'illustrer le changement de colonne, prenons le fichier "***VentesAgenceU.csv***", disponible sur [http://kirschpm.fr/cours/PythonDataScience/files/](http://kirschpm.fr/cours/PythonDataScience/files/). On va :
- lire le fichier ***VentesAgenceU.csv***
- faire un ***info*** pour vérifier les colonnes que nous avons

In [1]:
import pandas as pnd

dfFactures = pnd.read_csv ('http://kirschpm.fr/cours/PythonDataScience/files/VentesAgenceU.csv',
                           delimiter=';', header=[0], index_col=[0] ) 

dfFactures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, FA-2008-0010 to nan
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE FACTURE  47 non-null     object
 1   CODE CLIENT   47 non-null     object
 2   SECTEUR       47 non-null     object
 3   VENDEUR       47 non-null     object
 4    MONTANT      47 non-null     object
 5   Unnamed: 6    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 2.7+ KB

On va supprimer la colonne n° 5 ("*Unnamed: 6*") et les lignes avec des NaN, afin de ne garder que les données "utiles".

In [2]:
dfFactures.drop(columns={dfFactures.columns[5]}, inplace=True)
dfFactures.dropna(axis='index', inplace=True)
dfFactures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, FA-2008-0010 to FA-2008-0005
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE FACTURE  47 non-null     object
 1   CODE CLIENT   47 non-null     object
 2   SECTEUR       47 non-null     object
 3   VENDEUR       47 non-null     object
 4    MONTANT      47 non-null     object
dtypes: object(5)
memory usage: 2.2+ KB

On observe que nom de la ***" MONTANT "*** contient des espaces, ce qui n'est pas très pratique. 

Afin de bien voir les possibles espaces dans le nom des colonnes, on va utiliser une petite boucle, qui va afficher les noms de chaque colonne précédée par un ##.

In [3]:
for col in dfFactures.columns :
    print('##{}##'.format(col))

##DATE FACTURE##
##CODE CLIENT##
##SECTEUR##
##VENDEUR##
## MONTANT ##

On voit que le nom de la colonne "*MONTANT*" possède des espaces avant et après, ce qui peut être très gênant au moment qu'on voudra manipuler cette colonne. 

On va donc modifier son nom avec l'opération ***rename***.

In [4]:
# 1ere possibilité, en se servant de l'attribut columns 
# sans le inplace pour le pas modifier le DataFrame, et donc pouvoir l'application des deux options :-)
dfFactures.rename (columns= { dfFactures.columns[4] : 'montant' } )

             DATE FACTURE CODE CLIENT      SECTEUR  VENDEUR       montant
CODE FACTURE
FA-2008-0010   12/03/2008      CLI009  AUTOMATISME   BOUVET     752,98
FA-2008-0006   04/02/2008      CLI038  AUTOMATISME  ENGUENT     374,84
FA-2008-0009   03/03/2008      CLI098  ELECTRICITE   BOUVET     935,47
FA-2008-0012   31/03/2008      CLI114  ELECTRICITE  DEVEAUX     752,98
FA-2008-0008   22/02/2008      CLI115  AUTOMATISME   BOUVET     677,36
FA-2008-0027   09/07/2008      CLI145  ELECTRICITE   BOUVET     425,81
FA-2008-0028   09/07/2008      CLI145  AUTOMATISME  ENGUENT   1_607,89
FA-2008-0029   09/07/2008      CLI163  AUTOMATISME   BOUVET   1_436,91
FA-2008-0017   16/05/2008      CLI204  AUTOMATISME  ENGUENT   2_250,72
FA-2008-0031   27/07/2008      CLI204  ELECTRICITE   BOUVET     428,41
FA-2008-0040   11/09/2008      CLI204  ELECTRICITE  ENGUENT     246,46
FA-2008-0015   28/04/2008      CLI206  ELECTRICITE  ENGUENT     752,98
FA-2008-0020   21/06/2008      CLI206  AUTOMATISME  DEVEAUX   3_659,69
FA-2008-0021   30/06/2008      CLI206  AUTOMATISME   BOUVET   1_459,92
FA-2008-0022   30/06/2008      CLI206  AUTOMATISME  ENGUENT   7_541,33
FA-2008-0023   30/06/2008      CLI206  ELECTRICITE   BOUVET     527,75
FA-2008-0034   23/08/2008      CLI206  ELECTRICITE   BOUVET   1_051,09
FA-2008-0035   01/09/2008      CLI206  AUTOMATISME  DEVEAUX   3_471,13
FA-2008-0036   03/09/2008      CLI206  ELECTRICITE   BOUVET     485,24
FA-2008-0037   05/09/2008      CLI206  AUTOMATISME  ENGUENT   1_709,07
FA-2008-0043   17/09/2008      CLI206  ELECTRICITE   BOUVET     431,49
FA-2008-0044   19/09/2008      CLI206  AUTOMATISME   BOUVET     198,85
FA-2008-0045   23/09/2008      CLI206  AUTOMATISME  DEVEAUX     750,88
FA-2008-0046   25/09/2008      CLI206  AUTOMATISME   BOUVET     671,04
FA-2008-0024   30/06/2008      CLI209  AUTOMATISME  DEVEAUX   9_367,87
FA-2008-0038   05/09/2008      CLI209  AUTOMATISME   BOUVET     681,78
FA-2008-0047   27/09/2008      CLI209  ELECTRICITE  ENGUENT     204,01
FA-2008-0025   30/06/2008      CLI212  AUTOMATISME  ENGUENT   7_853,70
FA-2008-0026   09/07/2008      CLI219  AUTOMATISME  ENGUENT     923,97
FA-2008-0018   03/06/2008      CLI222  AUTOMATISME  ENGUENT   7_432,82
FA-2008-0032   05/08/2008      CLI222  AUTOMATISME  ENGUENT     351,64
FA-2008-0041   13/09/2008      CLI222  AUTOMATISME  DEVEAUX   4_374,79
FA-2008-0002   04/01/2008      CLI228  AUTOMATISME   BOUVET     391,28
FA-2008-0001   03/01/2008      CLI232  ELECTRICITE   BOUVET     203,86
FA-2008-0003   08/01/2008      CLI232  AUTOMATISME  ENGUENT     739,83
FA-2008-0013   09/04/2008      CLI232  AUTOMATISME   BOUVET     935,47
FA-2008-0004   17/01/2008      CLI235  AUTOMATISME  DEVEAUX     606,66
FA-2008-0019   12/06/2008      CLI300  ELECTRICITE   BOUVET   1_039,05
FA-2008-0033   14/08/2008      CLI300  AUTOMATISME  DEVEAUX     535,90
FA-2008-0042   15/09/2008      CLI300  AUTOMATISME  ENGUENT   3_667,68
FA-2008-0014   18/04/2008      CLI312  AUTOMATISME  ENGUENT     917,38
FA-2008-0011   21/03/2008      CLI334  ELECTRICITE   BOUVET     348,55
FA-2008-0016   07/05/2008      CLI403  ELECTRICITE   BOUVET   1_147,55
FA-2008-0030   18/07/2008      CLI403  ELECTRICITE  DEVEAUX     436,86
FA-2008-0039   09/09/2008      CLI403  AUTOMATISME   BOUVET   3_521,80
FA-2008-0007   13/02/2008      CLI512  AUTOMATISME  ENGUENT     935,47
FA-2008-0005   26/01/2008      CLI520  ELECTRICITE   BOUVET     739,83

In [5]:
# maintenant avec le inplace pour modifier le DataFrame
dfFactures.rename(columns={' MONTANT ':'MONTANT'}, inplace=True)

for col in dfFactures.columns :
    print('##{}##'.format(col))
    
dfFactures.info()

##DATE FACTURE##
##CODE CLIENT##
##SECTEUR##
##VENDEUR##
##MONTANT##
<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, FA-2008-0010 to FA-2008-0005
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE FACTURE  47 non-null     object
 1   CODE CLIENT   47 non-null     object
 2   SECTEUR       47 non-null     object
 3   VENDEUR       47 non-null     object
 4   MONTANT       47 non-null     object
dtypes: object(5)
memory usage: 2.2+ KB

## Nettoyage : Eliminer les caractères indésirables

Parfois il faut supprimer des données des caractères indésirables (un "$" ou un "€" d'un prix, par exemple), ou les remplacer par d'autres (parfois il faut remplacer une "," d'un prix en format FR par un "." d'un format US compris comme un numéro par Python). 

Cette étape doit venir avant qu'on puisse convertir les colonnes contenant ces données dans les bons formats (numeric, date). 

On peut remplacer un caractère par un autre avec ***str.replace*** ou en utilisant l'opération ***apply***. Si on veut tout simplement supprimer le caractère, il suffit de le remplacer par ***''*** (une chaine "*vide*"). 

On va illustrer cela avec la colonne "***MONTANT***" du DataFrame "***dfFractures***". 
En faisant un ***sample***, on peut observer l'usage de la "," comme séparateur pour les cases décimales, et plusieurs valeurs avec un "_". Ceci explique pourquoi cette colonne apparaît comme ***object*** dans la sortie de l'opération ***info***.

In [6]:
dfFactures.sample(5)

             DATE FACTURE CODE CLIENT      SECTEUR  VENDEUR       MONTANT
CODE FACTURE
FA-2008-0036   03/09/2008      CLI206  ELECTRICITE   BOUVET     485,24
FA-2008-0028   09/07/2008      CLI145  AUTOMATISME  ENGUENT   1_607,89
FA-2008-0003   08/01/2008      CLI232  AUTOMATISME  ENGUENT     739,83
FA-2008-0029   09/07/2008      CLI163  AUTOMATISME   BOUVET   1_436,91
FA-2008-0039   09/09/2008      CLI403  AUTOMATISME   BOUVET   3_521,80

On va donc :
- remplacer le '_' par '' (chaîne vide)
- remplacer le ',' par un '.'

In [7]:
dfFactures['MONTANT'] = dfFactures['MONTANT'].str.replace('_','')
dfFactures['MONTANT'].sample(5)

CODE FACTURE
FA-2008-0018     7432,82
FA-2008-0008      677,36
FA-2008-0044      198,85
FA-2008-0003      739,83
FA-2008-0024     9367,87
Name: MONTANT, dtype: object

Même chose avec l'opération ***apply***.

In [8]:
dfFactures['MONTANT'] = dfFactures['MONTANT'].apply (lambda x: str(x).replace(',' , '.') )
dfFactures['MONTANT'].sample(5)

CODE FACTURE
FA-2008-0028     1607.89
FA-2008-0044      198.85
FA-2008-0018     7432.82
FA-2008-0003      739.83
FA-2008-0027      425.81
Name: MONTANT, dtype: object

Dès que les données ont été nettoyées, on peut le convertir en type "*numérique*" avec ***to_numeric***.

In [9]:
dfFactures['MONTANT'] = pnd.to_numeric(dfFactures['MONTANT'],errors='coerce')
dfFactures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, FA-2008-0010 to FA-2008-0005
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE FACTURE  47 non-null     object
 1   CODE CLIENT   47 non-null     object
 2   SECTEUR       47 non-null     object
 3   VENDEUR       47 non-null     object
 4   MONTANT       47 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.2+ KB

## Dates : obtenir plus d'informations sur les dates. 

A partir du moment qu'on convertit une colonne en date (***to_datetime***), on peut obtenir plusieurs informations à partir de ses valeurs.

In [10]:
dfFactures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, FA-2008-0010 to FA-2008-0005
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE FACTURE  47 non-null     object
 1   CODE CLIENT   47 non-null     object
 2   SECTEUR       47 non-null     object
 3   VENDEUR       47 non-null     object
 4   MONTANT       47 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.2+ KB

La colonne "*DATE FACTURE*" contient des dates. Il faut donc la convertir avec ***to_datetime***.

In [11]:
dfFactures['DATE FACTURE'] = pnd.to_datetime(dfFactures['DATE FACTURE'])
dfFactures['DATE FACTURE'].sample(5)

CODE FACTURE
FA-2008-0033   2008-08-14
FA-2008-0036   2008-03-09
FA-2008-0015   2008-04-28
FA-2008-0034   2008-08-23
FA-2008-0041   2008-09-13
Name: DATE FACTURE, dtype: datetime64[ns]

A partir de ce moment, on va pouvoir en extraire des nombreuses informations utiles :
- jour 
- mois 
- année
- jour de la semaine
- jour de la semaine en texte
- mois en texte

In [12]:
dfFactures['JOUR FACTURE'] = dfFactures['DATE FACTURE'].dt.day
dfFactures['MOIS FACTURE'] = dfFactures['DATE FACTURE'].dt.month
dfFactures['ANNEE FACTURE'] = dfFactures['DATE FACTURE'].dt.year
dfFactures['JOUR SEMAINE'] = dfFactures['DATE FACTURE'].dt.weekday
dfFactures['NOM JOUR'] = dfFactures['DATE FACTURE'].dt.day_name()
dfFactures['NOM MOIS'] = dfFactures['DATE FACTURE'].dt.month_name()

dfFactures['SEMAINE ANNEE'] = dfFactures['DATE FACTURE'].dt.isocalendar().week

dfFactures.sample(5)

,DATE FACTURE,CODE CLIENT,SECTEUR,VENDEUR,MONTANT,JOUR FACTURE,MOIS FACTURE,ANNEE FACTURE,JOUR SEMAINE,NOM JOUR,NOM MOIS,SEMAINE ANNEE
CODE FACTURE,,,,,,,,,,,,
FA-2008-0046,2008-09-25,CLI206,AUTOMATISME,BOUVET,671.04,25,9,2008,3,Thursday,September,39
FA-2008-0030,2008-07-18,CLI403,ELECTRICITE,DEVEAUX,436.86,18,7,2008,4,Friday,July,29
FA-2008-0040,2008-11-09,CLI204,ELECTRICITE,ENGUENT,246.46,9,11,2008,6,Sunday,November,45
FA-2008-0039,2008-09-09,CLI403,AUTOMATISME,BOUVET,3521.80,9,9,2008,1,Tuesday,September,37
FA-2008-0016,2008-07-05,CLI403,ELECTRICITE,BOUVET,1147.55,5,7,2008,5,Saturday,July,27

Si on essaie de récupérer l'heure dans les données de la colonne "*DATE_FACTURE*", on ne pourra pas, car cette information est absente des données de base.

In [14]:
dfFactures['DATE FACTURE'].dt.time

CODE FACTURE
FA-2008-0010    00:00:00
FA-2008-0006    00:00:00
FA-2008-0009    00:00:00
FA-2008-0012    00:00:00
FA-2008-0008    00:00:00
FA-2008-0027    00:00:00
FA-2008-0028    00:00:00
FA-2008-0029    00:00:00
FA-2008-0017    00:00:00
FA-2008-0031    00:00:00
FA-2008-0040    00:00:00
FA-2008-0015    00:00:00
FA-2008-0020    00:00:00
FA-2008-0021    00:00:00
FA-2008-0022    00:00:00
FA-2008-0023    00:00:00
FA-2008-0034    00:00:00
FA-2008-0035    00:00:00
FA-2008-0036    00:00:00
FA-2008-0037    00:00:00
FA-2008-0043    00:00:00
FA-2008-0044    00:00:00
FA-2008-0045    00:00:00
FA-2008-0046    00:00:00
FA-2008-0024    00:00:00
FA-2008-0038    00:00:00
FA-2008-0047    00:00:00
FA-2008-0025    00:00:00
FA-2008-0026    00:00:00
FA-2008-0018    00:00:00
FA-2008-0032    00:00:00
FA-2008-0041    00:00:00
FA-2008-0002    00:00:00
FA-2008-0001    00:00:00
FA-2008-0003    00:00:00
FA-2008-0013    00:00:00
FA-2008-0004    00:00:00
FA-2008-0019    00:00:00
FA-2008-0033    00:00:00
FA-2008-0042    00:00:00
FA-2008-0014    00:00:00
FA-2008-0011    00:00:00
FA-2008-0016    00:00:00
FA-2008-0030    00:00:00
FA-2008-0039    00:00:00
FA-2008-0007    00:00:00
FA-2008-0005    00:00:00
Name: DATE FACTURE, dtype: object